.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.product_grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

div img{
  margin-top: 50px;
  width: 90%;
}

div p:nth-of-type(2) {
  margin-bottom: 30px;
}


div a {
  padding: 15px 50px;
  border-radius: 25px;
  background-color: rgb(224, 154, 25);
  text-decoration: none;
  color: #fff;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
